/*========== GOOGLE FONT ==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLE CSS ==========*/
:root {
    --header-height: 3rem;

    /*========== COLORS ==========*/
    /*
    Primary color 
    */
    --primary-color: hsl(160, 100%, 57%);
    /*
    Primary color 
    */
    --scrollbar-color: hsl(160, 69%, 61%);
    --primary-color-lighter: hsl(160, 69%, 61%);
    --primary-color-lighter-dark: hsl(160, 69%, 31%);
    /*
    Color of the title
    */
    --title-color: #00020B;
    /*
    Text color
    */
    --text-color: #5C5859;
    /*
    Text light color
    */
    --text-color-light: #A29697;
    /*
    Background color
    */
    --bg-color: #10B57D;
    /*
    Body color 
    */
    --body-color: #fefcfb;
    --white-color: white;
    --black-color: black;

    /*========== FONT & TYPORGRAPHY ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;

    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.15rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--black-color);
    font-family: var(--body-font);
    overflow-x: hidden;
}

::-moz-selection {
    background: var(--primary-color-lighter-dark);
    color: white;
}

::selection {
    background: var(--primary-color-lighter-dark);
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    margin: var(--mb-1-5) 0 0;
}

ul {
    padding: 0;
}

li {
    margin-left: 2rem;
}

li::marker {
    color: var(--primary-color-lighter-dark);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== REUSABLE CSS ==========*/
.bg-div {
    background-color: var(--bg-color);
    position: absolute;
    inset: 0;
    width: 2000px;
    margin: auto;
    left: -60%;
    top: -1rem;
    z-index: -100;
}

section {
    padding: 2rem 0 4rem;
}

.section__title {
    position: relative;
    font-size: var(--h1-font-size);
    color: var(--article-title);
    font-weight: var(--font-500);
    text-transform: uppercase;
    margin-bottom: var(--mb-1-5);
    border-bottom: 3px solid;
    width: fit-content;
}

article {
    position: relative;
}

.mac {
    /* .mac means main_wrapper article container */
    position: relative;
}

.mac::before {
    position: absolute;
    content: '';
    background: var(--text-color);
    inset: 0;
    height: 1px;
    top: -1.7rem;
}

.article__title {
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.article__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
}

.article__date {
    color: var(--text-color-light);
}

.article__url a {
    color: var(--text-color);
}

.article__description {
    margin-top: var(--mb-1);
}

.article__description,
.article__list {
    margin-bottom: var(--mb-0-5);
}

.list__label {
    font-weight: var(--font-500);
}

/*========== LAYOUT ==========*/
.main {
    padding: var(--mb-1);
}

/* .main-wrapper {
    box-shadow: 0 0px 33px -23px;
    padding: 1rem;
    margin-top: -4rem;
    background: var(--body-color);
    border-radius: .1rem;
} */

.container {
    /* max-width: 968px; */
    max-width: 1400px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-0-25);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--primary-color-lighter-dark);
    gap: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*========== HOME SECTION ==========*/
.profile__img {
    display: block;
    margin: auto;
    width: 260px;
    margin-bottom: var(--mb-1);
    border-radius: .5rem;
}

.home__title {
    font-size: var(--big-font-size);
    font-weight: var(--font-700);
    line-height: 1.2;
    margin-top: var(--mb-1);
    color: var(--white-color);
}

.home__subtitle {
    font-weight: var(--font-500);
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-75);
    color: var(--white-color);
}

.home__info-container {
    margin-top: var(--mb-0-5);
}

.home__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: var(--mb-0-75);
    -moz-column-gap: var(--mb-0-75);
    column-gap: var(--mb-0-75);
}

.home__info .home__icon {
    color: var(--white-color);
}

.home__info,
.home__info a,
.home__description {
    color: var(--white-color);
}

.home__description {
    margin-top: var(--mb-1);
}

.home__title,
.home__subtitle,
.home__description {
    text-align: center;
}

/*========== PROFILES ==========*/
.profile__container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    row-gap: 2rem;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--text-color);
}

/*========== LANGUAGES ==========*/
.languages .languages__description {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-1);
}

/*========== PROJECT + WORK IMAGES ==========*/
.article-logo {
    width: 50px;
    height: 50px;
}

.project svg:nth-child(1) {
    width: 50px;
    margin-top: -4.8rem;
}

.project svg:nth-child(2) {
    width: 110px;
}

.work svg {
    width: 50px;
    margin-top: -7.8rem;
}

/*========== ICONS ==========*/
.icon {
    font-style: normal;
    margin-right: 0;
    width: 0.6em;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* ========== SCROLL-BAR ========== */
::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: hsl(160, 57%, 33%);
}

@media (max-width: 768px) {
    .animate__animated {
        -webkit-animation: none;
        animation: none;
        z-index: -1;
    }
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 330px) {
    .main {
        padding: var(--mb-1) 0;
    }

    .container {
        margin-right: var(--mb-1);
    }
}

@media print, screen and (max-width: 568px) {
    .bg-div {
        bottom: calc(12rem - (-2rem));
    }
}

@media print, screen and (min-width: 568px) {
    .main-wrapper {
        position: relative;
        box-shadow: 0 0px 33px -23px;
        padding: 1rem;
        margin-top: -4rem;
        background: var(--body-color);
        border-radius: .1rem;
    }

    .main-wrapper::before {
        position: absolute;
        content: '';
        background-color: transparent;
        right: -85px;
        top: 0;
        border-top: 64px solid transparent;
        border-left: 85px solid var(--primary-color-lighter-dark);
        border-bottom: -11px solid transparent;
        height: min-content;
        width: min-content;
    }

    .basics {
        position: relative;
        max-width: 968px;
        margin: auto;
        padding-bottom: 6rem;
    }

    .article-header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .project,
    .work {
        margin-left: 5rem;
    }

    .article-logo {
        position: absolute;
        left: -5.3rem;
        top: -0.2rem;
    }
}

@media print, screen and (min-width: 768px) {
    .basics {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .home__title,
    .home__subtitle,
    .home__description {
        text-align: initial;
    }

    .home__info {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media print, screen and (min-width: 968px) {
    .profile__img {
        width: 355px;
        margin-left: initial;
    }
}

@media print, screen and (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        margin: auto;
    }

    .main-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr .7fr;
        grid-template-columns: 1fr .7fr;
        column-gap: 5rem;
        padding: 2rem;
    }

    .profiles .article-container {
        -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        justify-items: flex-start;
    }
}

@media print {
    .bg-div {
        bottom: 0 !important;
    }
}