/*========== GOOGLE FONT ==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLE CSS ==========*/
:root {
    --header-height: 3rem;

    /*========== COLORS ==========*/
    --first-color: hsl(244, 100%, 57%);
    --first-color-second: hsl(244, 69%, 61%);
    --first-color-alt: hsl(244, 57%, 53%);
    --first-color-lighter: hsl(244, 69%, 61%);
    --first-color-lighter-dark: #292523;
    --title-color: #00020B;
    --text-color: #5C5859;
    --text-color-light: #A29697;
    --yellow-color: #F9E32B;
    --body-color: #fefcfb;
    --white-color: white;
    --black-color: black;

    /*========== FONT & TYPORGRAPHY ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;

    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--black-color);
    font-family: var(--body-font);
    overflow-x: hidden;
}

::-moz-selection {
    background: hsl(244, 100%, 77%);
    color: white;
}

::selection {
    background: hsl(244, 100%, 77%);
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    margin: var(--mb-1-5) 0 0;
}

ul {
    padding: 0;
}

li {
    margin-left: 2rem;
}

li::marker {
    color: hsl(244, 100%, 70%);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== REUSABLE CSS ==========*/
section {
    padding: 2rem 0 4rem;
}

.section__title {
    position: relative;
    font-size: var(--h1-font-size);
    color: var(--article-title);
    font-weight: var(--font-700);
    text-transform: uppercase;
    margin-bottom: var(--mb-1-5);
}

article {
    position: relative;
}

.article__title {
    font-weight: var(--font-700);
    font-size: var(--h2-font-size);
    color: var(--first-color);
}

.article__subtitle {
    font-weight: var(--font-600);
    font-size: var(--h3-font-size);
    color: var(--text-color);
}

.article__title,
.article__subtitle {
    text-transform: uppercase;
}

.article__date {
    color: var(--text-color-light);
}

.article__url a {
    color: var(--text-color);
}

.article__description {
    margin-top: var(--mb-1);
}

.article__description,
.article__list {
    margin-bottom: var(--mb-0-5);
}

.list__label {
    font-weight: var(--font-500);
}

/*========== LAYOUT ==========*/
.main {
    padding: var(--mb-1);
}

.container {
    max-width: 968px;
    /* max-width: 1024px; */
    width: calc(100% - 3rem);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-0-25);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--first-color-lighter-dark);
    gap: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*========== HOME SECTION ==========*/
.profile__img {
    display: block;
    margin: auto;
    width: 260px;
    margin-bottom: var(--mb-1);
    border-radius: .5rem;
}

.home__title {
    font-size: var(--big-font-size);
    font-weight: var(--font-800);
    line-height: 1.2;
    margin-top: var(--mb-1);
    color: var(--first-color);
}

.home__subtitle {
    font-weight: 600;
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-75);
}

.home__info-container {
    margin-top: var(--mb-0-5);
}

.home__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: var(--mb-0-75);
    -moz-column-gap: var(--mb-0-75);
    column-gap: var(--mb-0-75);
}

.home__info,
.home__info a,
.home__description {
    color: var(--text-color);
}

.home__description {
    margin-top: var(--mb-1);
}

.home__title,
.home__subtitle,
.home__description {
    text-align: center;
}

.basics {
    position: relative;
}

.circle,
.outer-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle {
    background-color: var(--yellow-color);
    top: 23rem;
    right: calc(-2rem + 20%);
}

.outer-circle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--title-color);
    top: 19rem;
    left: calc(-1rem + 20%);
}

/*========== PROFILES ==========*/
.profile__container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    row-gap: 2rem;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--text-color);
}

/*========== LANGUAGES ==========*/
.languages .languages__description {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-1);
}

/*========== ICONS ==========*/
.icon {
    font-style: normal;
    margin-right: 0;
    width: 0.6em;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* ========== SCROLL-BAR ========== */
::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: var(--title-color);
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: #1e2b27;
}

@media (max-width: 768px) {
    .animate__animated {
        -webkit-animation: none;
        animation: none;
        z-index: -1;
    }
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 330px) {
    .main {
        padding: var(--mb-1) 0;
    }

    .container {
        margin-right: var(--mb-1);
    }
}

@media print, screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        margin: auto;
    }

    .basics {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .circle {
        top: 3rem;
        right: 5rem;
    }

    .outer-circle {
        top: 3.5rem;
        right: 5.5rem !important;
        left: initial;
    }

    .box,
    .line {
        width: 250px;
    }

    .box {
        position: absolute;
        top: 1rem;
        right: -16rem;
        height: 50px;
        background-color: var(--yellow-color);
    }

    .line {
        position: absolute;
        top: 3rem;
        right: -17rem;
        height: 2px;
        background-color: var(--title-color);
        opacity: .5;
    }

    .box-v,
    .line-v {
        height: 250px;
    }

    .box-v {
        position: absolute;
        background-color: var(--yellow-color);
        bottom: 5rem;
        left: -8rem;
        width: 50px;
    }

    .line-v {
        position: absolute;
        bottom: 3rem;
        left: -6rem;
        width: 2px;
        background-color: var(--title-color);
        opacity: .5;
    }

    .main-wrapper .section {
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: .6fr var(--mb-2) 1fr;
        grid-template-columns: .6fr 1fr;
        -webkit-column-gap: var(--mb-2);
        -moz-column-gap: var(--mb-2);
        column-gap: var(--mb-2);
    }

    .main-wrapper .article-container {
        margin-top: 5rem;
    }

    .main-wrapper .article__subtitle,
    .main-wrapper .article__date {
        position: absolute;
        left: -23rem;
    }

    .main-wrapper .article__subtitle {
        top: 4px;
        max-width: 340px;
    }

    .certifications article:first-child {
        margin-bottom: 5rem;
    }

    .main-wrapper .certifications .article__date {
        top: 6rem !important;
    }

    .profile__img {
        width: 400px;
        margin-left: initial;
    }

    .home__title,
    .home__subtitle,
    .home__description {
        text-align: initial;
    }

    .home__info {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .profiles .article-container {
        -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        justify-items: flex-start;
    }
}